[submodule "deps/gl3w"]
	path = deps/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "deps/abseil"]
	path = deps/abseil
	url = https://github.com/abseil/abseil-cpp
[submodule "deps/skia"]
	path = deps/skia
	url = https://skia.googlesource.com/skia/
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/utfcpp"]
	path = deps/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "deps/concurrentqueue"]
	path = deps/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
